
.note-card{
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    padding: 25px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.1s;
    margin-bottom: 10px;
}

.note-card:hover{
    background-color: rgba(0,0,0,0.7);
    backdrop-filter: blur(2px);
}

.note-card-title{
    font-size: 20px;
    font-weight: 600;
}

.note-card-content{
    margin-top: 8px;
}